<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<title>Demo</title>
	</head>
	<body>
		<h1>This is a sample project</h1>
		<button><a href="google.com">Click!</a></button>
		<!-- Accent-colored raised button with ripple -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		  Button
		</button>
		<!-- Colored FAB button -->
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect">
		  <i class="material-icons">add</i>
		</button>
	</body>
</html>